@import './breakpoints';

.pagination-container,
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  @media screen and (min-width: $tablet) {
    padding: 60px 0;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    padding: 40px 0;
  }
}

.pagination-button:not(:last-child),
.dots {
  margin-right: 16px;
}

.dots {
  color: black;
  font-size: 16px;
  margin-left: 16px;
}

.dots-btn {
  padding: 0;
  background: none;
  border: none;
}

.pagination-button {
  min-width: 40px;
  height: 40px;
  padding: 8px;
  font-weight: 500;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.25;
  border-radius: 5px;
  border: none;
  background: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 2px;
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(185, 47, 44, 0.6);
  }

  &.pagination--current {
    background-color: #b92f2c; /* Solid red */
    color: #fff !important; /* White */
  }
}

.pagination--current {
  background-color: #b92f2c;
  color: white !important; /* Force white color */
}

.dots,
.first-button,
.last-button {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.arrow-left,
.arrow-right {
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #f7f7f7;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  stroke: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-left {
  background-image: url(../images/arrow-right.svg);
}

.arrow-right {
  background-image: url(../images/arrow-left.svg);
}
