@import './breakpoints';
@import './variables';
@import './common';

ul.movies {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Movie grid for display */
.movies,
.movies-lib {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  }
}

/* Individual movie cards */
.movie_list_item {
  position: relative;
  width: 280px;
  font-size: 12px;
  transition: scale 250ms;

  @media screen and (min-width: $tablet) {
    width: 336px;
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 32px) / 3);
    font-size: 20px;
  }
}

/* Hover effect for scaling */
.movie_list_item:hover {
  transform: scale(1.02); /* Correct scaling */
}

/* Containers for the movie image */
.movie__cover-inner {
  position: relative;
  // height: 360px;
}

.movie__cover {
  width: 100%;
  height: 402px;
  object-fit: cover;
  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    height: 455px;
  }

  @media screen and (min-width: $desktop) {
    height: 574px;
  }
}


/* Movie information */
.movie-info {
  padding: 10px 0px;
}

.movie-title {
  color: black; /* Text color */
  font-weight: 500; /* Slightly bolder text */
}

.movie-date {
  color: #ff6b08; /* Data text color */
  font-weight: 500; /* Slightly bolder text */
}

/* Movie rating */
.movie__average {
  position: absolute; /* Positioning in the top-right corner */
  top: 10px;
  right: 10px;
  border-radius: 50%; /* Round shape */
  width: 36px;
  height: 36px;
  display: flex; /* Centering with Flexbox */
  justify-content: center;
  align-items: center;
  background-color: black; /* Black background */
  color: #ffffff; /* White text */
  font-size: 14px; /* Text size */
}

/* Modifiers for the movie rating (dynamic colors) */
.movie__average--green {
  color: green; /* High rating */
  border: 1px solid green;
}

.movie__average--orange {
  border: 1px solid #ff6b08; /* Medium rating */
  color: #ff6b08;
}

.movie__average--red {
  border: 1px solid #b92f2c; /* Low rating */
  color: #b92f2c;
}

/* Darkening effect for the image */
.movie__cover--darkened {
  opacity: 0.1; /* Better visibility */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px; /* Rounded corners */
}

.movie__cover--darkened:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  cursor: pointer; /* Pointer cursor */
}

/* Visual fallback for notifications */
.watched-img {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.04)
    ),
    url(../images/no-signal.jpg); /* Fallback image */
  background-size: cover; /* The image covers the container entirely */
  background-repeat: no-repeat; /* The image does not repeat */
  background-position: center; /* Centered image */
  height: 300px; /* Default dimensions */
  width: 320px;
  margin: 0 auto; /* Horizontal centering */
  text-align: center; /* Centered text */
  padding-top: 75px;

  @media screen and (min-width: $tablet) {
    height: 380px; /* Larger dimensions for tablets */
    width: 650px;
    padding-top: 100px;
  }

  @media screen and (min-width: $desktop) {
    height: 425px; /* Larger dimensions for desktop */
    width: 800px;
    padding-top: 115px;
  }
}

/* Text for the fallback notification */
.watched-warning {
  color: #fff; /* White text */
  font-size: 18px;
  line-height: 1.2; /* Line spacing */
  max-width: 250px; /* Maximum width */
  margin: 0 auto; /* Horizontal alignment */
  background-color: black; /* Black background */
  text-transform: uppercase; /* Uppercase text */

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.5;
    max-width: 450px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 25px;
    line-height: 1.6;
    max-width: 550px;
  }
}

/* Movie image from the list */
.movie_list_image {
  border-radius: 5px; /* Rounded corners */

  @media screen and (min-width: $desktop) {
    height: 592.5px; /* Specific height for desktop */
  }
}

/* Notification image when no movies are available */
.meme-notif-nothing {
  display: none; /* Hidden by default */
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; /* Rounded corners */
}

.movie-genres {
  color: #757575;
  font-size: 14px;
  margin-top: 5px;
}
