.modal-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.backdrop {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  opacity: 0.7;
}

.backdrop:hover {
  opacity: 1;
}

.backdrop:before,
.backdrop:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #000;
}

.backdrop:before {
  transform: rotate(45deg);
}

.backdrop:after {
  transform: rotate(-45deg);
}

.open {
  display: flex;
}

#movie-modal {
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  padding: 40px 12px;
  width: 100%;
  max-width: 806px;
  border-radius: 3px;
  height: max-content;
  max-height: 90vh;
  overflow-y: auto;
}

#modal-content {
  display: flex;
  align-items: start;
  width: 100%;
}

.img-posters {
  position: relative;
  width: 375px;
  height: 478px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 16px;
}

.trailer-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  color: #f2936d;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-posters:hover .trailer-btn,
.img-posters:focus .trailer-btn {
  color: #ff6b08;
  transform: translate(-50%, -50%) scale(1.1);
}

.trailer-icon {
  width: 100px;
  height: 100px;
}

#details-section {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

#movie-title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.1;
  text-transform: uppercase;
}

#movie-description .description-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  margin-bottom: 8px;
}

#movie-description .description-item:last-child {
  margin-bottom: 0;
}

#movie-description .description-item div {
  color: #000000;
}
#original-title {
  text-transform: uppercase;
}

.about-wrapper {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.about-wrapper span {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#movie-about {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.button-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.add-to-watched-btn,
.add-to-queue-btn {
  display: inline-block;
  width: 165px;
  height: 42px;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  border: 1px solid #8c8c8c;
  color: #ff6b01;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.add-to-watched-btn:hover,
.add-to-watched-btn:focus {
  background-color: #ff6b01;
  color: #fff;
  border-color: transparent;
}

.add-to-queue-btn:hover,
.add-to-queue-btn:focus {
  background-color: #ff6b01;
  color: #fff;
  border-color: transparent;
}

/* Stilizare pentru mobil */
@media screen and (max-width: 767px) {
  #movie-modal {
    width: 280px;
    height: auto;
    padding: 48px 20px 40px 20px;
  }

  #modal-content {
    flex-direction: column;
    align-items: center;
  }

  .img-posters {
    width: 100%;
    width: 240px;
    height: 357px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .trailer-btn {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }

  #details-section {
    max-width: 100%;
    font-size: 14px;
  }

  #movie-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  #movie-description {
    display: flex;
    flex-direction: column;
  }

  .about-wrapper {
    margin-top: 10px;
    font-size: 12px;
    text-align: justify;
  }

  .about-wrapper span {
    margin-bottom: 8px;
    font-size: 12px;
  }

  #movie-about {
    line-height: 20px;
  }

  .button-wrapper {
    gap: 4px;
    margin-top: 20px;
  }

  .add-to-watched-btn,
  .add-to-queue-btn {
    width: 125px;
    height: 34px;
    font-size: 12px;
  }
}

/* Stilizare pentru mobil */
@media screen and (max-width: 767px) {
  #movie-modal {
    width: 280px;
    height: auto;
    padding: 48px 20px 40px 20px;
  }

  #modal-content {
    flex-direction: column;
    align-items: center;
  }

  .img-posters {
    width: 100%;
    width: 240px;
    height: 357px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .trailer-btn {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }

  #details-section {
    max-width: 100%;
    font-size: 14px;
  }

  #movie-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  #movie-description {
    display: flex;
    flex-direction: column;
  }

  .about-wrapper {
    margin-top: 10px;
    font-size: 12px;
    text-align: justify;
  }

  .about-wrapper span {
    margin-bottom: 8px;
    font-size: 12px;
  }

  #movie-about {
    line-height: 20px;
  }

  .button-wrapper {
    gap: 4px;
    margin-top: 20px;
  }

  .add-to-watched-btn,
  .add-to-queue-btn {
    width: 125px;
    height: 34px;
    font-size: 12px;
  }
}

/* Stilizare pentru Tablete */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #movie-modal {
    width: 704px;
    height: auto;
    padding-left: 36px;
    padding-top: 40px;
    padding-right: 72px;
    padding-bottom: 138.45px;
  }

  #modal-content {
    flex-direction: row;
    gap: 68px;
  }

  .img-posters {
    width: 264px;
    height: 374px;
    flex-shrink: 0;
    border-radius: 5px;
  }

  .trailer-btn {
    width: 70px;
    height: 70px;
    font-size: 70px;
  }

  #movie-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  #movie-description .description-item {
    gap: 8px;
  }

  .about-wrapper {
    margin-top: 7.45px;
    line-height: 20px;
  }

  .button-wrapper {
    margin-top: 20px;
    gap: 8px;
  }

  .add-to-watched-btn,
  .add-to-queue-btn {
    width: 137px;
    height: 38px;
  }
}
