<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
    </div>
    <div class="footer-bottom">
      <p>
        &copy; 2020 | All Rights Reserved | Developed with ❤️ by
        <span class="team-link" id="teamLink">GoIT Students</span>
      </p>
    </div>
  </div>
</footer>

<!-- Fereastra modală -->
<div class="modal" id="teamModal">
  <div class="modal-content">
    <span class="close-btn" id="closeModal">&times;</span>
    <h2>GoIT Students</h2>
    <ul class="team-list">
      <li>Flori Petruța Moise - Team Leader/Frontend Developer</li>
      <li>Gratiela Chirtop - Scrum Master/Frontend Developer</li>
      <li>Cosma Abiatar-Olivian - Frontend Developer</li>
      <li>Adeline-Cristina Cozma - Frontend Developer</li>
      <li>Victoria Daguța - Frontend Developer</li>
      <li>Tănase Ion-Claudiu - Frontend Developer</li>
      <li>Petronela Grigore - Frontend Developer</li>
      <li>Palamariu Florin - Frontend Developer</li>
    </ul>
  </div>
</div>


</body>
