<!-- PROGRESS-INDICATOR -->

<div class="progress-indicator">
  <div class="progress-indicator__container">
    <div class="progress-indicator__bar" id="progressBar"></div>
  </div>
</div>



<!-- BACK-TO-TOP-BUTTON -->

<div class="back-to-top">
  <a id="backToTopButton" class="back-to-top__link" href="#home">
    <svg
      class="animate__animated animate__infinite animate__pulse animate__slower back-to-top__icon"
      width="30"
      height="30"
    >
      <use href="./images/circle-up.svg#icon-circle-up"></use>
    </svg>
  </a>
</div>
