<header class="header">
  <div class="header-container">
    <!-- Header Buttons -->
    <div class="header-buttons-container">
      <a href="index.html" id="home-btn" class="header-btn">HOME</a>
      <button id="library-btn" class="header-btn">MY LIBRARY</button>

      <div class="theme-switcher">
        <label class="theme-switcher__toggle">
          <input
            type="checkbox"
            id="themeSwitcherCheckbox"
            class="theme-switcher__checkbox"
          />
          <span class="theme-switcher__slider"></span>
        </label>
      </div>
    </div>

    <!-- Search Form -->
    <form id="search-form" class="header-search-form">
      <div class="search-form">
        <input
          type="text"
          name="search"
          class="search form-input"
          placeholder="Movie search"
        />
        <button id="search-button" class="search-button">
          <svg class="search-icon" width="14" height="14">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
      <p id="search-error" class="search-error-message" style="display: none">
        Search result not successful. Enter the correct movie name.
      </p>
    </form>

    <!-- Logo -->
    <a href="index.html" class="logo-container">
      <svg class="logo-icon" width="48" height="48">
        <use href="./images/icons.svg#icon-film"></use>
      </svg>
      <h1 class="logo-text">Filmoteka</h1>
    </a>

    <!-- Library Buttons -->
    <div
      id="library-buttons"
      class="library-buttons-container"
      style="display: none"
    >
      <button id="watched-btn" class="library-btn library-btn-active">
        WATCHED
      </button>
      <button id="queue-btn" class="library-btn">QUEUE</button>
    </div>
  </div>
</header>
