<header class="header">
    <div class="container">
      <!-- Top-left buttons -->
      <div class="header-buttons">
        <!-- Movie Search Button -->
        <button id="movie-search-btn" class="header-btn">
          <svg class="icon" width="24" height="24">
            <use href="./images/icons.svg#icon-rectangle"></use>
          </svg>
          <svg class="icon-search" width="24" height="24">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
          <span class="button-text">Movie search</span>
        </button>
        

        <!-- Home Button -->
        <button id="home-btn" class="header-btn">
          <svg class="icon" width="24" height="24">
            <use href="./images/icons.svg#icon-home"></use>
          </svg>
        </button>

        <!-- My Library Button -->
        <button id="library-btn" class="header-btn">
          <svg class="icon" width="24" height="24">
            <use href="./images/icons.svg#icon-library"></use>
          </svg>
        </button>
      </div>

      <!-- Logo and Title in Bottom-left -->
      <div class="logo-container">
        <svg class="logo-icon" width="48" height="48">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <h1 class="logo-text">Filmoteka</h1>
      </div>
    </div>
    </header>