<header class="header">
  <div class="header-container">
    <!-- Header Buttons -->
    <div class="header-buttons-container">
      <button id="home-btn" class="header-btn">HOME</button>
      <button id="library-btn" class="header-btn">MY LIBRARY</button>
    </div>

    <!-- Search Form -->
    <form id="search-form" class="header-search-form">
      <div class="search-form">
        <input
          type="text"
          name="search"
          class="search form-input"
          placeholder="Movie search"
        />
        <button id="search-button" class="search-button">
          <svg class="search-icon" width="14" height="14">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>

    <!-- Logo -->
    <div class="logo-container">
      <svg class="logo-icon" width="48" height="48">
        <use href="./images/icons.svg#icon-film"></use>
      </svg>
      <h1 class="logo-text">Filmoteka</h1>
    </div>

    <!-- Library Buttons -->
    <div
      id="library-buttons"
      class="library-buttons-container"
      style="display: none"
    >
      <button id="watched-btn" class="library-btn library-btn-active">
        WATCHED
      </button>
      <button id="queue-btn" class="library-btn">QUEUE</button>
    </div>
  </div>
</header>
